p {
  font-family: helvetica;
  font-size: 1.2em;
  line-height: 1.5em;
}
:host {
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: center;
}
.chapter-section {
  flex: 1;
  flex-basis: auto;
  max-width: 660px;
}
pre {
  overflow-x: scroll;
}
code {
  word-wrap: normal;
  word-break: normal;
  word-spacing: normal;
  line-height: 1.5;
  tab-size: 4;
}
