:host {

}
md-card {
  //background-color: gray !important;
}
pre {
  overflow-x: scroll !important;
  white-space:pre-wrap;
  width: 100%;
}
code {
  overflow: scroll;
  white-space: pre;
  word-spacing: normal;
  word-wrap: normal;
  display: block;
  tab-size: 4;
  max-width: 100%;
}
.lang-subtitle {
  float: right;
}
