<md-card [ngSwitch]="selected">
  <md-card-subtitle>
    <md-radio-group [(ngModel)]="selected" *ngIf="javascriptBlock && rubyBlock">
      <md-radio-button value="javascript">Javascript</md-radio-button>
      <md-radio-button value="ruby">Ruby</md-radio-button>
    </md-radio-group>
    <span class="lang-subtitle">
      {{selected.toUpperCase()}}
    </span>
  </md-card-subtitle>
  <template [ngSwitchWhen]="'javascript'">
    <ng-content select="[javascript]"></ng-content>
  </template>
  <template [ngSwitchWhen]="'ruby'">
    <ng-content select="[ruby]"></ng-content>
  </template>
</md-card>
