@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700italic);
html, body{
  height: 100%;
  margin: 0px;
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
md-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
