<div class="wrapper">
<ng-content></ng-content>
<h2>{{title}}</h2>
<div *ngFor="let link of links">
  <div [ngSwitch]="!!link.route">
    <template [ngSwitchWhen]="false">
      <div class="nav-block">
        <div class="nav-block" router-active>
          <a>{{link.text}}</a>
        </div>
      </div>
    </template>
    <template [ngSwitchWhen]="true">
      <div class="nav-block" router-active>
        <a [routerLink]="['Algorithms', link.route]">{{link.text}}</a>
      </div>
    </template>
  </div>
  <div *ngIf="link.sublinks">
    <div class="nav-sublink" *ngFor="let sublink of link.sublinks">
      <div [ngSwitch]="!!sublink.route">
        <template [ngSwitchWhen]="false">
          <div class="nav-block">
            <div class="nav-block" router-active>
              <a>{{sublink.text}}</a>
            </div>
          </div>
        </template>
        <template [ngSwitchWhen]="true">
          <div class="nav-block" router-active>
            <a [routerLink]="['Algorithms', sublink.route]">{{sublink.text}}</a>
          </div>
        </template>
      </div>
    </div>
  </div>
</div>
</div>
