h1 {
  font-family: Arial, Helvetica, sans-serif
}
md-card{
  margin: 25px;
}
:host {
  display: flex;
  flex: 1;
}
.sidenav-layout {
  flex: 1;
  flex-grow: 1;
}
.sidenav-content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
